body{
    max-width: 1170px;
    background-color: bisque;
    margin:0 auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px;
}
.card:hover{
    background-color: aqua;
}
.card h3{
    font-size: 1.25em;
    font-weight: 700px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card button{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1em;
    cursor: pointer;
}