body{
    background-color: khaki;
}
.box{
    border: 5px solid red;
    font-size: 3em;
    background-color: cadetblue;
    align-items: right;
    width: 300px;
    height: 350px;
    
    margin: 0 auto;
}
.box-container{
    background-color: chartreuse;
    display: flex;
    justify-content:center;
    height: 450px;
    max-width: 1140px block;
}
