body{
    background-color: cornsilk;
}
.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    border: 2px solid rosybrown;
    font-size: 2em;
    height: 240px;
    width: 200px;
    background-color: chartreuse;
}