nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color: chartreuse;
    font-size: 2em;
}
nav li:hover{
    background-color: blue;
}